.landing {
    .kode-caption-2 {
        display:inline-block;        
        border: solid 2px #fff;
        border-radius:5px;
        color:#fff;
        font-size:16px;
        margin-right:10px;
        margin-top:21px;
        padding:10px 30px;
        position: absolute;
        top:35%;
        text-transform:uppercase;
        text-decoration:none;
    }
}