.landing {
    display: flex;
    flex-direction: column;
    
    .pattern {
        display: flex;
        justify-content: space-around;
        padding: 50px;

        .image-left {
            flex: 1;
            margin: 30px;
        }

        .pattern-text {
            flex: 1;
            margin: 30px;

            p {
                width: 600px;
            }
        }
    }

    .books {
        display: flex;
        justify-content: space-around;
        background: rgb(213, 213, 213);
        padding: 50px;
        flex-wrap: wrap;

        .book-card {

            .book-logo {
                height: 500px;
                width: 380px;
            }
    
            .card-text-book {
                display: flex;
                justify-content: space-around;
            }
        }
    }
}