.landing {
    display: flex;
    flex-direction: column;
    
    .pattern {
        display: flex;
        justify-content: space-around;
        background: rgb(213, 213, 213);
        padding: 60px;

        .image-left {
            flex: 1;
            margin: 30px;
        }

        .pattern-text {
            flex: 1;
            margin: 30px;
        }
    }
}