.ebooks {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 280px;

    .card-title {
        color: rgb(152, 21, 150);
    }

    .card {
        margin: 20px;
    }
}