.management {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #636363;
    padding-top: 180px;

    .card {
        display: flex;
        margin: 80px;
        padding: 50px;
        width: 100%;

        .card-body {
            padding: unset;

            .right-side {
                display: flex;
                flex-direction: column;
                padding: 50px;

                .center-side {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    form {
                        width: -webkit-fill-available;
                        padding: 50px;
                    }

                    .form-control {
                        display: unset;
                    }
                }
                
            }
        }
    }
}