.header {
    display: flex;
    flex-direction: column;
    background: rgb(179, 44, 251);
    height: 140px;
    width: 100%;
    .baner {
        display: flex;
        justify-content: space-between;
        height: 80px;
        padding-left: 40px;
        padding-right: 40px;

        .logo {
            height: 70px;
            margin: 5px;
        }

        .auth {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                margin: 5px;
                color: white;
                text-decoration: none;
            }
        }
    }
    
    .menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: rgb(229, 100, 254);
        height: 60px;
        
        a {
            color: white;
            text-decoration: none;
        }

        :hover {
            background: rgb(170, 40, 240);
            padding: 19px;
        }
    }
}