.header {
    display: flex;
    flex-direction: column;
    background: rgb(152, 21, 150);
    height: 140px;
    position: absolute;
    width: 100%;
    z-index: 2;

    .baner {
        display: flex;
        justify-content: space-between;
        height: 80px;
        padding-left: 40px;
        padding-right: 40px;

        .logo {
            height: 70px;
            margin: 5px;
        }

        .auth {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                margin: 5px;
                color: white;
                text-decoration: none;
            }

            :hover {
                color: yellow;
            }
        }
    }
    
    .menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background: rgb(183, 57, 208);
        padding-right: 80px;
        height: 60px;
        
        a {
            color: white;
            font-size: 18px;
            text-decoration: none;
            padding: 17px;
        }

        :hover {
            background: rgb(150, 42, 172);
            color: yellow;
            padding: 17px;
            border-bottom: solid 4px yellow;
        }
    }
}