.footer {
    display: flex;
    flex-direction: column;
    
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: url('../../assets/bg3.png');
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        color: rgb(150, 150, 150);
        padding: 50px;
        position: relative;
        height: 400px;

        h2 {
            color: white;
        }

        a {
            margin: 5px;
        }
    }

    .copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        color: rgb(82, 81, 81);
        text-align: center;
        height: 50px;
    }
}