h1, h2, h3 {
  font-family: Impact;
}

a {
  font-family: Sitka Small Semibold;
}

$theme-colors: (
  'primary': rgb(79, 0, 189),
  'info': tomato
);

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';