.login {
    display: flex;
    flex-direction: column;
    background: url('../../assets/login.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 180px;
    min-height: 900px;
    z-index: 1;

    .card {
        display: flex;
        margin: 80px;

        .card-body {
            display: flex;
            padding: unset;

            h2, h3 {
                font-family: unset;
            }

            .left-side {
                width: 50%;
                margin-right: 20px;
            }

            .right-side {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 50%;
            }
        }
    }
}