.login {
    display: flex;
    flex-direction: column;
    background: url('../../assets/login.png');
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top: 180px;
    min-height: 900px;

    .card {
        display: flex;
        margin: 40px;
        padding: 40px;

    }
}