.login {
    display: flex;
    flex-direction: column;
    background: url('../../assets/login.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 180px;
    min-height: 900px;
    z-index: 1;

    .card {
        display: flex;
        margin: 80px;
        padding: 40px;

    }
}